<footer>
  <div class="availability">
    <p>I'm <a href="mailto:aygh83pb7pxrurexdn@acc.t-bryant.com?Subject=Hey%20Taurean" id="availabilityLink"></a> for new work.</p>
  </div>
  <nav class="footer-nav">
    <ul class="main-footer-nav">
      {{navigation}}
    </ul>
    {{!-- <ul class="secondary-footer-nav">
      <li><a href="/archived">Archive</a></li>
      <li><a href="library.html">Library</a></li>
      <li><a href="colophon.html">Colophon</a></li>
    </ul> --}}
  </nav>
  <p class="copyright">
    &copy; <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script>, Taurean Bryant.
  </p>
  <div class="nightmode-section">
    <button id="nightmode-toggle" class="nightmode-toggle">Night Mode</button>
  </div>
</footer>
