
{{!< default}}
<section class="featured-work">

{{#get "posts" include="date,url" filter="tags:workstudy"}}
    {{#foreach posts}}

      <a href="../{{slug}}" class="work-thumb">
        <figcaption class="work-thumb-title">{{title}}</figcaption>
        <figure class="work-thumb-img">
          <img src="{{image absolute="true"}}" alt="thumb">
        </figure>
      </a>

    {{/foreach}}
{{/get}}

</section>
