/* ===============================
/* ===============================
*********************************
•••••••••••••••••••••••••••••••••

#################################

// Global Styles

#################################

•••••••••••••••••••••••••••••••••
*********************************
/* ===============================
/* ============================ */


/*
========================

    Master Heading

========================
*/

header.master-header {
  display: flex;
  position: fixed;
  width: 100%;
  flex-direction: column;
  z-index: 100;

}

.master-header .heading {
  background-color: color(white, 0, 0.97);
  text-align: center;

  .backdropfilter & {
    background-color: color(white, 0, 0.92);
    -webkit-backdrop-filter: blur(0.5rem);
  }


  h1 {
    font-family: $fontstack-ui;
    font-size: $font-size-h2;
    font-weight: $font-normal;
    letter-spacing: .25ex;
    padding: 1rem;
    text-transform: uppercase;
  }

  h1 a {
    color: color(brand-color-one);
    transition: color $timing-transitions;

    &:hover {
      color: color(brand-color-one, 2);
    }
    &:active {
      color: color(brand-color-one, -2);
    }
  }
}


.master-header nav {
  background-color: color(white, -2, 0.94);
  border-bottom: 1px solid color(white, -3);
  padding: 1rem 5rem;

  .backdropfilter & {
    background-color: color(white, -2, .8);
    -webkit-backdrop-filter: blur(0.4rem);
    border-bottom: 1px solid color(white, -3);
  }

  ul {
    display: flex;
    justify-content: space-between;
    font-size: $font-size-h4;
  }

  ul li {
    display: inline-block;
    font-family: $fontstack-ui;
    text-transform: uppercase;
    letter-spacing: .125ex;
  }

  ul li a {
    color: color(black, 0, 0.8);
    transition: border $timing-transitions;
    border-bottom: .1rem solid color(brand-color-two, 0, 0.0);

    &:hover {
      color: color(brand-color-two);
      border-bottom: .1rem solid color(brand-color-two);
    }

    &:active {
      color: color(brand-color-two, -2);
    }
  }
}

/*
========================

    Main Content

========================
*/

.page-content {
  background: color(white, -1);
  min-height: 1rem;
  display: flex;
  flex-wrap: wrap;
  padding-top: 9.8rem;
  padding-bottom: 4rem;
  padding-bottom: 0rem;
}


/*
========================

    Master Footer

========================
*/

footer {
  background: color(white);
}

footer.master-footer {
  background: color(white);
  height: 22rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  border-top: 1px solid color(white, -1, 1);
}

footer .availability {
  text-align: center;
  padding: 1rem;

  p {
    color: color(black);
    font-family: $fontstack-ui;
    font-size: $font-size-base;
  }

  p a {
    color: color(brand-color-one);
  }
}

footer .footer-nav {
  border-top: 1px solid color(white, -1);
  border-bottom: 1px solid color(white, -1);
  display: flex;
  padding: .5rem 0;
  flex-direction: column;
}

footer .footer-nav .main-footer-nav,
footer .footer-nav .secondary-footer-nav {
  display: flex;
  max-width: 60rem;
  flex-basis: auto;
  flex-grow: 1;
  margin: .5rem auto;
  font-size: 1.2rem;
  font-family: $fontstack-ui;
  letter-spacing: .125ex;
  text-transform: uppercase;
  justify-content: space-around;

  & li {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  & li a {
    color: color(black);

  }
}

footer .copyright {
  color: color(black, 0, 1);
  font-family: $fontstack-ui;
  opacity: 0.5;
  letter-spacing: .1ex;
  font-size: 1.4rem;
  margin: 1rem 0;
  text-align: center;
}

footer .nightmode-section {
  text-align: center;
}

.nightmode-toggle {
  background: color(brand-color-two, -7, 0.2);
  border: .1rem solid color(brand-color-two, -2);
  border-radius: .3rem;
  color: color(brand-color-two, -7);
  cursor: pointer;
  font-family: $fontstack-ui;
  font-size: 1rem;
  letter-spacing: .25ex;
  font-weight: $font-bold;
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 1.2rem;
  padding: .6rem 1.2rem;

  &:hover {
    background: color(brand-color-two, -7);
    border-color: color(brand-color-two, -7);
    color: color(white);
  }
}

/* ===============================
/* ===============================
*********************************
•••••••••••••••••••••••••••••••••

#################################

// Blog Posts Directory

#################################

•••••••••••••••••••••••••••••••••
*********************************
/* ===============================
/* ============================ */



/*
========================

    Individual Entries

========================
*/


section.entry-directory {
  display: flex;
  flex-wrap: wrap;
  padding: 4rem 1rem;
}


article.entry-snippet {
  width: 100%;
  padding: .6rem 1.2rem;
  flex-grow: 1;
  margin-bottom: 3rem;
  // outline: 1px solid blue;


  h2 {
    font-family: $fontstack-masthead;
    font-weight: normal;
  }

  h3 {
    font-family: $fontstack-ui;
    font-weight: $font-normal;
    opacity: 0.5;
    margin: 0rem 0 .8rem;
  }

  p {
    font-family: $fontstack-text;
    font-size: $font-size-base;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 14rem;
    position: relative;
    margin-bottom: 2rem;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    padding-bottom: 3rem;

    &:after {
      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 5rem;
      background: linear-gradient(to bottom, color(white, -1, 0.0), color(white, -1, 0.9) 100%);
    }
  }

  .read-more-btn:hover {
    .right-arrow {
      transform: translate(100px, 100px);
      animation: hintright .1s ease;
      // color: red !important;
    }}


}

nav.content-pagination {
  display: block;
  width: 100%;

  ul {
    display: flex;

    li {
      width: 50%;
      font-size: $font-size-base;
      font-family: $fontstack-ui;
      text-transform: uppercase;
      letter-spacing: .25ex;
      margin-left: 10rem;
    }

    li:first-of-type {
      text-align: right;
      margin-right: 10rem;
      margin-left: 0;
    }

    li a:link,
    li a:visited {
      padding: 1rem .6rem;
      color: color(black, 0, 0.6);
      width: 100%;
      display: inline-block;
    }

    li a:hover {
      color: color(black, 0, 1);
    }

  }
}


/* ===============================
/* ===============================
*********************************
•••••••••••••••••••••••••••••••••

#################################

// Individual Blog Post

#################################

•••••••••••••••••••••••••••••••••
*********************************
/* ===============================
/* ============================ */

.blog-entry {
  background-color: grayscale(white);
  margin: -4.5rem auto 0;
  margin: 0 auto;
  max-width: 144rem;
  width: 100%;
  padding: 0;
}

.featured-image {
  display: block;
  margin-top: -4.5rem;
  max-width: 144rem;
  width: 100%;
}



h1.post-title {
  line-height: $line-height-heading;
  font-size: 4.8rem;
  display: inline-block;
  width: 100%;
  padding: 0 2rem;
  margin: -5rem 0 1rem;
  color: color(brand-color-two);
}

h2 time.post-date {
  font-family: $fontstack-ui;
  font-weight: $font-normal;
  font-size: $font-size-h3;
  opacity: 0.4;
  display: block;
  margin-bottom: 2rem;
  letter-spacing: .1ex;
}


.blog-entry {

  p {
    font-size: $font-size-base;
    font-family: $fontstack-text;
    padding: 0 2rem;
    margin: 0 auto 2rem;
    max-width: 80rem;
    line-height: $line-height-base;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    padding: 0 2rem;
    margin: 0 auto .6rem;
    max-width: 80rem;
  }

  h3,
  h4 {
    font-weight: $font-normal;
  }


  a:link,
  a:visited {
    // font-style: italic;
    display: inline-block;
    // font-family: $fontstack-display;
    color: color(brand-color-one);
    animation: blinker 3s linear infinite;
    padding: 0 .2rem;
    background-image: linear-gradient(to top,
    rgba(color(brand-color-one), 0) 10%,
    rgba(color(brand-color-one), .5) 14%,
    rgba(color(brand-color-one), .5) 14%,
    rgba(color(brand-color-one), 0) 20%
    );
    border-radius: .3rem;
    transition: all .125s ease;
  }

  a:hover {
    background: color(brand-color-one, 0, 0.8);
    color: color(white);
  }
}

.blog-entry figure {
  width: 100%;
  max-width: 144rem;
  margin: 8rem 0;
  position: relative;

  img {
    width: 100%;
    max-width: 144rem;
  }

  figcaption {
    font-size: $font-size-base;
    font-family: $fontstack-ui;
    text-align: center;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    border-radius: .3rem;
    display: inline-block;
    padding: .6rem 1.2rem;

    background-color: color(white, 0, 0.8);
    line-height: $line-height-base;

    a:link,
    a:visited {
      display: inline-block;
      // font-family: $fontstack-display;
      color: color(brand-color-two);
      animation: blinker 3s linear infinite;
      padding: 0 .2rem;
      background-image: linear-gradient(to top,
      rgba(color(brand-color-two), 0) 10%,
      rgba(color(brand-color-two), .5) 14%,
      rgba(color(brand-color-two), .5) 14%,
      rgba(color(brand-color-two), 0) 20%
      );
      border-radius: .3rem;
      transition: all .125s ease;
    }

    a:hover {
      background: color(brand-color-two, 0, 0.8);
      color: color(white);
    }

    .backdropfilter & {
      background-color: color(white, 0, 0.6);
      -webkit-backdrop-filter: blur(1rem);
    }
  }
}

.blog-entry {
  figure + figure {
    margin-top: -8rem;
  }
}


.blog-entry ul {
  display: block;
  list-style-type: circle;
  padding: 0 4rem;
  margin: 1rem auto;
  width: calc(100% - 5rem);
  max-width: 80rem;

  & li {
    width: 100%;
    padding: 0;
    font-size: $font-size-base;
    font-family: $fontstack-text;
    padding: 0 .6rem;
    margin: 0 auto .6rem;
    max-width: 80rem;
    line-height: $line-height-base;
  }
}

.blog-entry ol {
  display: block;
  padding: 0 4.4rem;
  margin: 1rem auto;
  width: calc(100% - 5rem);
  max-width: 80rem;

  li {
    width: 100%;
    padding: 0;
    font-size: $font-size-base;
    font-family: $fontstack-ui;
    padding: 0 .6rem;
    margin: 0 auto .6rem;
    max-width: 80rem;
    line-height: $line-height-base;
  }
}


.blog-entry cite {
  margin-top: -3rem !important;
  margin-bottom: 4rem;
  display: block;
  // font-style: italic;
  font-family: $fontstack-ui;
  padding-left: 2rem;
  opacity: 0.5;

  // &:before {
  //   content: ' — ';
  //   display: inline-block;
  //   margin-right: 2rem;
  // }
}

.blog-entry pre {
  display: block;
  max-width: 80rem;
  margin: 2rem auto;
  width: 100%;
  padding: 0 2rem;

  code {
    display: block;
    width: 100%;
    background: color(white, -1, 0.5);
    font-size: $font-size-base;
    padding: 2rem;
    border-radius: .3rem;
    border: 1px solid color(white, -2);
  }
}


.blog-entry blockquote {
  border: .1rem solid color(white, -1);
  // background: color(white);
  padding: 2rem 1rem;
  border-radius: .6rem;
  width: calc(100% - 2rem);
  margin: 0 auto;
  display: block;
  max-width: 80rem;

  p {
    font-size: $font-size-h2;
    // font-family: $fontstack-ui;
    font-style: italic;
  }

}



.blog-entry .fullwidth:first-of-type {
  margin-top: -4.5rem;
}


/* ===============================
/* ===============================
*********************************
•••••••••••••••••••••••••••••••••

#################################

// Featured Work Directory

#################################

•••••••••••••••••••••••••••••••••
*********************************
/* ===============================
/* ============================ */

.featured-work {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  display: block;
}

.work-thumb {
  line-height: 0.8;
  margin-top: 0;
	display: block;
	position: relative;
  max-width: 100%;
	background-image: none;
  background: color(black);

  &-title {
    position: absolute;
    top: 1.6rem;
  	top: 0;
  	left: 1rem;
  	left: 0;
    width: 100%;
  	z-index: 5;
    color: color(white);
    font-size: $font-size-h2;
    font-family: $fontstack-ui;
    font-weight: normal;
    letter-spacing: .1ex;
    padding: 1.6rem 0 1.6rem 1rem;
    // outline: 1px solid red;
    // background: color(black, 0, 0.8);

    .backdropfilter & {
      background-color: color(black, 0, 0.0);
      -webkit-backdrop-filter: blur(1rem);
      border-bottom: .1rem solid color(black, 0, 0.8);
    }

  }

  // &:nth-of-type(even) &-title {
  //   right: 1rem;
  //   left: inherit;
  //   text-align: right;
  // }

  &:hover &-img {
    -webkit-filter: grayscale(1) brightness(0.3);
    -moz-filter: grayscale(1) brightness(0.3);
    -o-filter: grayscale(1) brightness(0.3);
    -ms-filter: grayscale(1) brightness(0.3);
    filter: grayscale(1) brightness(0.3);
  }

  &-img:after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom,
      rgba(black, 0.8),
      rgba(black,0.5),
      rgba(black, 0.0)
    );
    z-index: 4;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
  }

  &-img,
  &-img img {
    // border-radius: 3px !important;
    width: 100%;
	-webkit-transition: -webkit-filter 0.13s ease-in;
    -moz-transition: -moz-filter 0.13s ease-in;
    -o-transition: -o-filter 0.13s ease-in;
    -ms-transition: -ms-filter 0.13s ease-in;
    transition: -webkit-filter 0.13s ease-in;
  }

  &:hover {
    .work-thumb-title {
      color: color(brand-color-two);
    }

    figure{
      opacity: 1;

       img {
        opacity: 0.5;
      }
    }
  }
}


/* ===============================
/* ===============================
*********************************
•••••••••••••••••••••••••••••••••

#################################

// Individual Case Study

#################################

•••••••••••••••••••••••••••••••••
*********************************
/* ===============================
/* ============================ */

.workstudy {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 0rem;
  background-color: color(white);

  h1 {
    width: 100%;
    font-family: $fontstack-ui;
    font-weight: $font-normal;
    color: color(brand-color-one);
    text-align: center;
    margin-top: 8rem;
  }

  h1 + p {
    margin-bottom: 8rem;
  }

  .featured-image.fullwidth:first-of-type {
    margin-top: 0;
  }
}

.workstudy p {
    font-size: $font-size-h3;
    font-family: $fontstack-ui;
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 4rem;
}

.workstudy h2,
.workstudy h3,
.workstudy h4 {
  text-align: center;
  display: block;
  font-family: $fontstack-ui;
  font-weight: $font-normal;
  color: color(brand-color-one);
  text-transform: uppercase;
  margin: 8rem 0 2rem;
}

figure.full-width {
  max-width: 100%;
  margin: 0;
}

figure.subheading-image {
  margin-top: 0rem;

  .picture-set img {
    display: block;
    margin: 0 auto;
  }
}

.picture-set {
  width: 100%;

  img {
    max-width: 100%;
  }
}

.fullwidth {
  margin-top: 3rem;
}


.doubleimage {
  width: 100%;
  max-width: 144rem;
  margin: 3rem 0 0 0;
  display: flex;
  flex-wrap: wrap;

  img,
  .picture-set {
    width: 100%;
  }
}


.fullwidth,
.doubleimage {
  position: relative;


  figcaption {
    font-size: $font-size-base;
    font-family: $fontstack-ui;
    text-align: center;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    border-radius: .3rem;
    display: inline-block;
    line-height: $line-height-base;
    padding: .6rem 1.2rem;
    background: color(white, 0, 0.8);

    a:link,
    a:visited {
      font-weight: $font-bold;
      display: inline-block;
      color: color(brand-color-two, -5);
      animation: blinker 3s linear infinite;
      padding: 0 .2rem;
      transition: all .125s ease;
      line-height: 1;
      border-bottom: .1rem solid color(brand-color-two, -4, 0.5);
    }

    a:hover {
      border-bottom-width: .2rem;
      border-bottom-color: color(brand-color-two, -3);
      color: color(brand-color-two, -3);
    }

    .backdropfilter & {
      background-color: color(white, 0, 0.5);
      -webkit-backdrop-filter: blur(0.5rem);
    }
  }
}

.fullwidth + .fullwidth,
.doubleimage + .doubleimage,
.doubleimage + .fullwidth,
.fullwidth + .doubleimage {
  margin-top: 0;
}

.workstudy .fullwidth:first-of-type {
  margin-top: 0;
}

figure.subheading-image {
  margin-top: 6rem;
}

.subheading-image + h2,
.subheading-image + h3 {
  margin-top: 1rem;
}

/* ===============================
/* ===============================
*********************************
•••••••••••••••••••••••••••••••••

#################################

// Work Archive Page

#################################

•••••••••••••••••••••••••••••••••
*********************************
/* ===============================
/* ============================ */

h2.work-archive-masthead {
  font-size: $font-size-masthead;
  width: 100%;
  display: block;
  margin: 2rem 0;
  font-weight: $font-normal;
  opacity: 0.8;
  text-align: center;
}

section.work-archive {
  max-width: 1440px;
  margin: 0 auto;
  -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;


  img {
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
  }
}


/* ===============================
/* ===============================
*********************************
•••••••••••••••••••••••••••••••••

#################################

// Maintenance Mode Page

#################################

•••••••••••••••••••••••••••••••••
*********************************
/* ===============================
/* ============================ */

/*
========================

    Animated Background

========================
*/

@keyframes northern {
  0% {
    transform: translate(5%, -2%);
  }

  25% {
    transform: translate(10%, 7%);
  }

  40% {
    transform: rotate(-10deg);
  }

  60% {
    transform: translate(7%, -2%);
  }

  85% {
    transform: translate(6%, 3%) rotate(12deg);
  }

  100% {
    transform: none;
  }
}

.bg-container {
  width: 120vw;
  height: 120vh;
  overflow: hidden;
  position: absolute;
  top: -1rem;
  left: -1rem;
  right: -1rem;
  bottom: -1rem;
}

.animation {
  position: absolute;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  animation-name: northern;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: linear-gradient(10deg, #FF9EDB 20%, #EDF5FF 40%, white 70%);
}

* {
  // outline: 1px solid rgba(255, 0, 0, 0.6);
}


.privacy-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.privacy-shell {
  background: grayscale(white);
  border: .2rem solid color(white, -1, 0.5);
  border-radius: .6rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 4rem 0;
  position: relative;
  z-index: 100;
  max-width: 32rem;
  min-height: 40rem;
  align-items: center;
  justify-content: center;

  h1 {
    font-family: $fontstack-ui;
    font-size: $font-size-h2;
    font-weight: $font-normal;
    letter-spacing: .25ex;
    padding: .6rem;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
  }

  p {
    font-family: $fontstack-text;
    font-size: $font-size-base;
    margin-bottom: 2rem;
    text-align: center;
  }
}

.privacy-form {
  display: flex;
  flex-direction: column;

  input[type="password"] {
    border: 1px solid color(black, 0, 0.3);
    border-radius: .3rem;
    padding: .6rem 1.2rem;
    min-width: 20rem;
    margin-bottom: 1rem;
    transition: border-color $timing-transitions;
  }

  input[type="password"]:hover,
  input[type="password"]:focus {
    outline: none;
    border-color: color(brand-color-two);
  }

  .privacy-submit {
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  .privacy-error {
    font-family: $fontstack-ui;
    font-size: $font-size-base;
    margin-bottom: 1rem;
    text-align: center;
    color: color(red);
  }
}
