/* ==============================
/* ==============================
*********************************
•••••••••••••••••••••••••••••••••

#################################

// Global Styles

#################################

•••••••••••••••••••••••••••••••••
*********************************
/* ==============================
/* =========================== */

/* ============= *\

    Master Heading

\* ============= */

.master-header .heading {
  background-color: color(black, 0, 0.98);

  .backdropfilter & {
    background-color: color(black, -1, 0.9);
    -webkit-backdrop-filter: blur(0.8rem);
  }
}

.master-header nav {
  background-color: color(black, 1, 0.98);
  border-bottom: 1px solid color(black);

  .backdropfilter & {
    background-color: color(black, 0, 0.8);
  }

  ul li a {
    color: color(white, 0, 0.4);
    transition: color $timing-transitions, border-bottom-color $timing-transitions;

    &:hover {
      color: color(brand-color-two, 2);
      border-bottom-color: color(brand-color-two, 2);
    }

    &:active {
      color: color(brand-color-two);
      border-bottom-color: color(brand-color-two);
    }
  }
}

/* ==============================
/* ==============================

// Main Content

/* ==============================
/* =========================== */

.page-content {
  background: grayscale(1);
  color: color(white);
}


/* ============= *\

    Master Footer

\* ============= */

footer {
  background: color(black, 0, 0.9);
  border-top-color: grayscale(1);
}

footer .availability p {
  color: color(white);
}

footer .footer-nav {
  border-color: grayscale(1);
}

footer .footer-nav ul li a {
  color: color(white);
}

footer .copyright {
  color: color(white);
}

.nightmode-toggle {
  background: color(brand-color-two, -7);
  border-color: color(brand-color-two, -7);
  color: color(white);
  opacity: 1;

  &:hover {
    background: color(brand-color-two, -7, 0.2);

  }
}

/* ==============================
/* ==============================
*********************************
•••••••••••••••••••••••••••••••••

#################################

// Blog Posts Directory

#################################

•••••••••••••••••••••••••••••••••
*********************************
/* ==============================
/* =========================== */



/* ============= *\

Individual Entries

\* ============= */
article.entry-snippet {
  color: color(white, -1);
}

nav.content-pagination ul li a:link,
nav.content-pagination ul li a:visited {
  color: color(white, 0, 0.6);
}

nav.content-pagination ul li a:hover {
  color: color(white);
}

article.entry-snippet p:after {
  background: linear-gradient(to bottom, grayscale(1, 0.0), grayscale(1, 0.9) 100%);
}


/* ==============================
/* ==============================
*********************************
•••••••••••••••••••••••••••••••••

#################################

// Individual Blog Post

#################################

•••••••••••••••••••••••••••••••••
*********************************
/* ==============================
/* =========================== */

.blog-entry {
  background-color: color(black);


  cite {
    color: color(brand-color-two);
    opacity: 0.8;
  }

  blockquote {
    border-color: color(black, 2);
  }
}

.blog-entry pre code {
  background: color(black, 1, 0.5);
  border: 1px solid color(black, 2);
  color: color(brand-color-two);
}

.blog-entry figure figcaption {
  background-color: color(black, 0, 0.85);


  .backdropfilter & {
    background-color: color(black, 0, 0.5);
    -webkit-backdrop-filter: blur(1rem);

    a {
      font-style: normal;
    }
  }
}


/* ==============================
/* ==============================
*********************************
•••••••••••••••••••••••••••••••••

#################################

// Individual Case Study

#################################

•••••••••••••••••••••••••••••••••
*********************************
/* ==============================
/* =========================== */

.workstudy {
  background-color: color(black);
}


.workstudy figure figcaption {
  background-color: color(black, 0, 0.85);


  .backdropfilter & {
    background-color: color(black, 0, 0.5);
    -webkit-backdrop-filter: blur(1rem);

    a {
      font-style: normal;
    }
  }
}




/* ==============================
/* ==============================
*********************************
•••••••••••••••••••••••••••••••••

#################################

// Maintenance Mode Page

#################################

•••••••••••••••••••••••••••••••••
*********************************
/* ==============================
/* =========================== */

.animation {
  background: linear-gradient(10deg, #096638 20%, #2D195A 40%, black 70%);
}

.privacy-shell {
  background: grayscale(black);
  border: .2rem solid color(black, 1, 0.5);

  h1,
  p {
    color: grayscale(white);
  }
}


.privacy-form input[type="password"] {
  border-color: color(white, 0, 0.3);
  color: grayscale(white);
}

.privacy-form input[type="password"]:hover,
.privacy-form input[type="password"]:focus {
  border-color: color(brand-color-two);
}
