/* ==============================
/* ==============================
*********************************
•••••••••••••••••••••••••••••••••

#################################

// Global Styles

#################################

•••••••••••••••••••••••••••••••••
*********************************
/* ==============================
/* =========================== */


/* ============= *\

    Master Heading

\* ============= */

.master-header .heading {
  background-color: color(black, 0, 0.9);
}

.master-header nav {
  background-color: color(black, 1, 0.6);

  ul li a {
    color: color(white, 0, 0.4);

    &:hover {
      color: color(brand-color-two);
    }

    &:active {
      color: color(brand-color-two, -2);
    }
  }
}

/* ==============================
/* ==============================

// Main Content

/* ==============================
/* =========================== */

.page-content {
  background: grayscale(black);
  color: color(white);
}


/* ============= *\

    Master Footer

\* ============= */

footer {
  background: color(black, 0, 0.9);
  border-top-color: color(black, 1);
}

footer .availability p {
  color: color(white);
}

footer .footer-nav {
  border-color: color(black, 1);
}

footer .footer-nav ul li a {
  color: color(white);
}

footer .copyright {
  color: color(white);
}

.nightmode-toggle {
  background: color(brand-color-two, -7);
  border-color: color(brand-color-two, -7);
  color: color(white);
  opacity: 1;

  &:hover {
    background: color(brand-color-two, -7, 0.2);

  }
}

/* ==============================
/* ==============================
*********************************
•••••••••••••••••••••••••••••••••

#################################

// Blog Posts Directory

#################################

•••••••••••••••••••••••••••••••••
*********************************
/* ==============================
/* =========================== */



/* ============= *\

Individual Entries

\* ============= */
article.entry-snippet {
  color: color(white, -1);
}

nav.content-pagination ul li a:link,
nav.content-pagination ul li a:visited {
  color: color(white, 0, 0.6);
}

nav.content-pagination ul li a:hover {
  color: color(white);
}

article.entry-snippet p:after {
  background: linear-gradient(to bottom, grayscale(black, 0.0), grayscale(black, 0.9) 100%);
}


/* ==============================
/* ==============================
*********************************
•••••••••••••••••••••••••••••••••

#################################

// Individual Blog Post

#################################

•••••••••••••••••••••••••••••••••
*********************************
/* ==============================
/* =========================== */


.journal-entry {

  h2 {
    color: color(white, -1);
  }

  h3 {
    color: color(white, -4);
  }

  p {
    color: color(white, -2);
  }
}


/* ==============================
/* ==============================
*********************************
•••••••••••••••••••••••••••••••••

#################################

// Individual Case Study

#################################

•••••••••••••••••••••••••••••••••
*********************************
/* ==============================
/* =========================== */

.case-study {
  background-color: color(black, 1);
}
