@import 'no-frills/no-frills-importer';
@import 'global';

body.nightmode {
  background: grayscale(black);

  @import 'nightmode';
}


@media all and (min-width: 680px) {
  @import 'tablet';
}

@media all and (min-width: 1440px) {

  .master-header {
    transition: margin-top $timing-transitions;
    margin-top: 3rem;
  }
  footer {
    transition: margin-bottom $timing-transitions;
    margin-bottom: 3rem;
  }
}
