@keyframes blinker {
  10% { opacity: 1.0; }
  20% { opacity: 0.95; }
  // 30% { opacity: 0.9; }
  // 40% { opacity: 0.85; }
  50% { opacity: 0.8; }
  // 60% { opacity: 0.85; }
  // 70% { opacity: 0.9; }
  80% { opacity: 0.95; }
  90% { opacity: 1.0; }
  100% { opacity: 1.0; }
}
